<h3>
  Bootstrap Material Design Components
</h3>

<h4>Buttons</h4>

<button type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>
<button type="button" mdbBtn color="secondary" mdbWavesEffect>Secondary</button>
<button type="button" mdbBtn color="success" mdbWavesEffect>Success</button>
<button type="button" mdbBtn color="danger" mdbWavesEffect>Danger</button>
<button type="button" mdbBtn color="warning" mdbWavesEffect>Warning</button>
<button type="button" mdbBtn color="info" mdbWavesEffect>Info</button>
<button type="button" mdbBtn color="light" mdbWavesEffect>Light</button>
<button type="button" mdbBtn color="dark" mdbWavesEffect>Dark</button>
<button type="button" mdbBtn color="link">Link</button>

<div>
    <div class="bg"></div>

    <p class="py-5 text-center">This example creates a full page background image. Try to resize the browser
      window to see
      how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen
      sizes.</p>
</div>