<!-- <h1>Current Count: {{counter}}</h1>

<app-child (couterChanged)="oncouterChanged($event)"></app-child> -->




<!-- 
<app-child [user]="user"></app-child>

<br /><br />
<button (click)="changeProperty()">Change Property</button>

<button (click)="changeObject()">Chage Object</button>

<h4>
    Pipes
</h4>

<ul class="list-group">
    <li class="list-group item">
        Date without Pipe: {{ dateToday }}
    </li>
    <li class="list-group item">
        Date with Pipe: {{ dateToday | date }}
    </li>
    <li class="list-group item">
        Date with Pipes and Params: {{ dateToday | date: 'full' | lowercase}}
    </li>
</ul> -->

<h4>
    Pure and Impure Pipe
</h4>

<button class="btn btn-primary" (click)="addUser()">Add User</button>
<input type="text" [(ngModel)]="filterIdType">
<ul class="list-group">
    <li class="list-group item" *ngFor="let user of users | filter : filterIdType">
        <div class="alert alert-success" role="alert">
            UserID: {{user?.id}}, UserName: {{user?.name}}
        </div>
    </li>
</ul>